@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --hivemq-stone-100: 36, 22%, 95%;
        --hivemq-stone-600: 0, 3%, 29%;
        --hivemq-stone-900: 24, 11%, 9%;
        --hivemq-yellow-400: 48, 100%, 50%;
        --hivemq-yellow-600: 39, 79%, 49%;

        /*
        more approved colors:
        stone-200
        stone-700
        stone-800
        stone-950
        neutral-600
        */

        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --secondary-700: 0, 3%, 29%;
        --secondary-300: 12, 9%, 90%;
        --secondary-200: 0 0% 92%;
        --secondary-100: 36 22% 95%;
        --secondary-foreground: 0 0% 0%;
        --hive-400: 12, 9%, 90%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-300: 0 84.2% 50.2%;
        --destructive-200: 0 84.2% 42.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 0 0% 83%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;
        --radius: 0.25rem;
    }
}

.dark {
    /*
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --secondary: 0 0% 96%;
    --secondary-50: 24 11% 9%;
    --secondary-foreground: 0 0% 0%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-300: 0 62.8% 28.6%;
    --destructive-200: 0 62.8% 26.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 83%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    */
}

@layer base {
    body {
        @apply antialiased font-body bg-stone-100 dark:bg-stone-900 text-stone-950 dark:text-stone-50
    }

    p a {
        @apply text-typo-link underline underline-offset-2 hover:text-yellow-700 dark:hover:text-yellow-300 hover:underline
    }

    .card {
        @apply bg-white dark:bg-stone-950
    }
}
